MONGODB_URI=
SUPABASE_PROJECT_URL=
SUPABASE_ANON_KEY=
SUPABASE_STORAGE_NAME=
JWT_SECRET=
JWT_EXPIRES_IN=7d
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=services@tedxdamascus.sy
SMTP_PASS=
SMTP_FROM_EMAIL=services@tedxdamascus.sy
SMTP_FROM_NAME=TEDx Damascus
SUPERADMIN_EMAIL=tedxdamascus
SUPERADMIN_PASSWORD=12345678
