MONGODB_URI = mongodb://187.127.114.46:27017/test
#MONGODB_URI=mongodb://localhost:27007/tedx-damascus
SUPABASE_PROJECT_URL = https://akqhnasddaehwhphxsiq.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrcWhuYXNkZGFlaHdocGh4c2lxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1MTEzNjksImV4cCI6MjA4NzA4NzM2OX0.8vp82Rj3y7SbIye2ur-r3IaDt3TBB1YOD0b6crKR0Kw
SUPABASE_STORAGE_NAME = TedXDamascus Storage

MINIO_ENDPOINT = http://187.127.114.46:9000
#MINIO_ENDPOINT = http://localhost:9000
MINIO_USERNAME = admin
MINIO_PASSWORD = strongpassword123
STORAGE_DRIVER = minio
MINIO_BUCKET = tedx

#MONGODB_URI = "mongodb://localhost:27017/"

JWT_SECRET=uqoveyufw091823-bpiuad
JWT_EXPIRES_IN=7d


SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=services@tedxdamascus.sy
SMTP_PASS="Amd1123581321$$"
SMTP_FROM_EMAIL=services@tedxdamascus.sy
SMTP_FROM_NAME=TEDx Damascus

SUPERADMIN_EMAIL=tedxdamascus@gmail.com
SUPERADMIN_PASSWORD=12345678
FRONTEND_URL=https://tedxdamascus.sy
PUBLIC_SITE_URL=https://api.tedxdamascus.sy