MONGODB_URI=
STORAGE_DRIVER=minio
SUPABASE_PROJECT_URL=
SUPABASE_ANON_KEY=
SUPABASE_STORAGE_NAME=
JWT_SECRET=
JWT_EXPIRES_IN=7d
SUPERADMIN_EMAIL=tedxdamascus
SUPERADMIN_PASSWORD=12345678


MINIO_ENDPOINT=http://187.127.114.46:9000
MINIO_USERNAME=admin
MINIO_PASSWORD=strongpassword123
MINIO_BUCKET=tedx